.video-block {
  background-image: url("../../assets/images/back2.jpg");
  position: relative;
  // &:after {
  // 	content: '';
  // 	position: absolute;
  // 	top: 0;
  // 	left: 0;
  // 	right: 0;
  // 	bottom: 0;
  // 	background-color: rgba(0, 0, 0, 0.6);
  // }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  img {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }
}
@media (max-width: 767px) {
  .video-block {
    img {
      width: 65%;
    }
  }
}
