* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: "Akzidenz-Grotesk";
  src: url("./assets/fonts/4202-font.otf");
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: unset;
}

body {
  color: white;
}

.navBar {
  position: fixed;
  width: 100%;
  color: white;
  height: 60px;
  z-index: 9;
  // background-color: rgba(0,0,0,0.3);

  .container {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
    .nav__logo {
      h1 {
        font-family: "Akzidenz-Grotesk", sans-serif;
        margin-bottom: 0;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      .menu-item {
        margin-left: 30px;
        font-size: 18px;
        font-size: 18px;
        // font-family: 'Akzidenz-Grotesk', sans-serif;
        font-family: Verdana, sans-serif;
      }
    }
    nav {
      button {
        span {
          background-image: url("assets/images/burger.png");
          background-repeat: no-repeat;
          //   background-image: url("assets/images/bars-solid.svg");
          display: none;
          width: 23px;
        }
      }
    }
  }
}

.aboutUs {
  background-color: #28292c;
  min-height: 100vh;
  .row1 {
    padding-top: 100px;
    margin-bottom: 60px;
    span {
      padding: 7px;
      border-radius: 7px;
      &:hover {
        border: 1px solid #16faff;
      }
      .fa-chevron-left {
        margin-right: 10px;
      }
    }
  }
  .row2{
    h2{
      font-family: "Akzidenz-Grotesk";
      margin-bottom: 30px;
    }
    p{
      font-family: Verdana;
      font-weight: normal;
    }
  }
  .imgBlock{
    text-align: center;
    img {
      width: 80%;
    }
  }
  
}

.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer {
  padding: 30px 0;
  background-color: #000;
  height: auto;

  .container {
    height: 100%;

    .row {
      width: 100%;
      .col-md-4 {
        ul {
          padding-left: 0;
          margin-top: 15px;
          display: flex;
          li {
            margin: 0 15px 10px 0;
            .svg-inline--fa.fa-lg {
              font-size: 1.5em;
            }
          }
        }
      }
      .contact {
        ul {
          display: block !important;
          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.offcanvas {
  background-color: #2ec0c4 !important;
  .offcanvas-header {
    position: relative;
    button {
      position: absolute;
      top: 25px;
      right: 25px;
      // display: none;
    }
    // span{
    //   background-image: url('assets/images/close2.png') !important;
    //   width: 23px;
    //   height: 23px;
    // }
  }
  .offcanvas-title {
    padding-top: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    ul {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: -100px;
      width: 100%;
      li {
        margin-bottom: 10px;
        a {
          font-size: 25px;
          display: block;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
    .col-md-4 {
      text-align: center;
      margin-bottom: 20px;
      .socialIcons {
        display: flex;
        justify-content: center;
      }
      ul {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
    nav {
      margin-left: 18px;
      button {
        span {
          display: block !important;
        }
      }
    }
  }
}
