.collectSlider {
	background-image: url('../../assets/images/05_back.png');
	h2 {
		text-align: center;
		font-family: 'Akzidenz-Grotesk';
	}
	.keen-slider__slide {
		img {
			width: 75%;
		}
	}
	.dots {
		display: flex;
		align-items: center;
		.active {
			background-color: #16faff !important;
			width: 10px;
			height: 10px;
		}
		.dot {
			padding: 0;
		}
	}
}

@media (max-width: 767px) {
	.collectSlider {
		.keen-slider__slide {
			img {
				width: 90% !important;
			}
		}
	}
	.collectSlider {
		.arrow {
			display: none;
		}
	}
}
